<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- TOMCAT JDBC Connection (Pool) -->
	<bean id="poolProperties" class="org.apache.tomcat.jdbc.pool.PoolProperties">
		<property name="url" value="jdbc:mysql://localhost:3306/testdb" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="maxActive" value="10" />
		<property name="initialSize" value="5" />
	</bean>
	<!-- DataSource -->
	<bean id="ds_mysql" class="org.apache.tomcat.jdbc.pool.DataSource">
		<property name="poolProperties" ref="poolProperties" />
	</bean>
	<!-- spring transaction manager -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds_mysql" />
	</bean>


</beans>